{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="content">
  <div class="eight-cell column">
    <h2>{{ user_profile.user.first_name }}</h2>
    <p>{{ user_profile.bio|safe }}</p>
    <p><a href="{{ user_profile.website }}">{{ user_profile.website }}</a><br>
  </div>
  <div class="four-cell column">
    {% thumbnail user_profile.photo "300x300" crop="top" as photo %}
      <a href="{{ photo.url }}"><img src="{{ photo.url }}" class="profile-image"></a>
    {% endthumbnail %}
  </div>
</div>
{% endblock %}
