{% extends 'contribute/base.html' %}
{% block content %}
  {{ block.super }}
  <form action="" method="post">
    {{ form.media }}
    {% csrf_token %}
{% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
      <button name="action" type="submit" value="save-draft">Save Draft</button> <button name="action" type="submit" value="submit-for-publication">Submit for Publication</button>
  </form>
{% endblock %}
