{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}
  {{ article.title }} - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="inset-content">
    <div class="row">
      <div class="row">
        <div class="nine-cell inset-body column">
          <div class="row">
            <div class="article-header">
              {% if article.image %}
                {% thumbnail article.image "1000x500" crop="center" as photo %}
                <img src="{{ photo.url }}">
                {% endthumbnail %}
              {% else %}
                <img src="{% static 'assets/images/default-bg.png' %}">
              {% endif %}
              <div class="caption">
                <span class="title header">{{ article.title }}</span>
                {% if article.author %}<span class="info">Written by <a href='{% url 'profiles:profile_view' article.author.profile_id.id %}'>{{ article.author.first_name }}{% if article.author.last_name %} {{ article.author.last_name }}{% endif %}</a></span>{% endif %}
                <span class="info">Published {{ article.pub_date|date:"F d, Y" }}</span>
              </div>

            </div>
          </div>
          <div class="article-body row">
            <div class="column inset">
              {{ article.body|safe }}
            </div>
          </div>
          <div class="row">
	        <div class="inset">
            </div>
          </div>
        </div>
        <div class="three-cell column inset">
          <a href="javascript:history.back()" style="font-weight: bold">Go Back</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
