{% extends 'base.html' %}
{% block content %}
<div class="content">
  <h2>Contribute!</h2>
  <p>We are currently on the lookout for anyone interested in contributing content, including album reviews, show reviews, editorials, interviews, photo galleries, or whatever else you might be able to help with!</p>
  <p>If you think you might be interested or have any questions about the type of content we're looking for, shoot us email at <a href="mailto:editors@sugarbombdiy.com">editors@sugarbombdiy.com</a> or contact us via our <a href="{% url 'contact:contact_us' %}">contact form</a>!</p>
</div>
{% endblock %}
