{% extends "base.html" %}

{% block content %}

<div class="content inset">
<div class="four-cell column">
<form action="" method="post">
  <table>
  {% csrf_token %}
  <tr><th></th><td><h2>Password Reset</h2></td></tr>
  <tr><th><label for="id_email">Email address:</label></th><td>
{{ form.email.errors }}
{{ form.email }}</td></tr>
<tr><th></th><td><button type="submit">Password Reset</button></td></tr>
</table>
</form>
</div>
<div class="eight-cell column inset">
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
</div>
</div>
{% endblock %}
