{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}


{% block page_description %}{{ article.body|striptags|slice:"400"}}...{% endblock %}

{% block extra_meta_tags %}
  <meta property="og:type" content="article">
  <meta name="author" content="{{ article.author.first_name }}{% if article.author.last_name %} {{ article.author.last_name }}{% endif %}">
{% thumbnail article.image "1000x500" crop="center" as photo %}
  <meta property="og:image"
  content="http://www.sugarbombdiy.com{{ photo.url }}" type="image/jpeg">
{% endthumbnail %}
  <meta property="og:title"
content="{{ article.title }}">
{% endblock %}

{% block title %}
  {{ article.title }} - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="inset-content">
    <div class="row">
      <div class="row">
        <div class="nine-cell inset-body column">
          <div class="row">
            <div class="article-header">
              {% thumbnail article.image "1000x500" crop="center" as photo %}
              <img src="{{ photo.url }}">
              {% endthumbnail %}
              <div class="caption">
                <span class="title header">{{ article.title }}</span>
                {% if article.author %}<span class="info">Written by {% if article.author.profile_id %}<a href='{% url 'profiles:profile_view' article.author.profile_id.id %}'>{{ article.author.first_name }}{% if article.author.last_name %} {{ article.author.last_name }}{% endif %}</a>{% endif %}</span>{% endif %}
                <span class="info">Published {{ article.pub_date|date:"F d, Y" }}</span>
              </div>

            </div>
          </div>
          <div class="article-body row">
            <div class="column inset">
              {{ article.body|safe }}
            </div>
          </div>
          <div class="row">
	        <div class="inset">
              {% include 'disqus.html' %}
            </div>
          </div>
        </div>
        <div class="three-cell column inset">
          {% for article in recent_articles %}
            <div class="row">
            {% include 'articles/article_preview.html' %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
