{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}
  {{ article.title }} - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="inset-content">
    <div class="row">
      <div class="row">
        <div class="nine-cell inset-body column">
          <div class="row">
            <div class="article-header">
              {% thumbnail article.image "1000x500" crop="center" as photo %}
              <img src="{{ photo.url }}">
              {% endthumbnail %}
              <div class="caption">
                <span class="title header">{{ article.title }}</span>
                {% if article.author %}<span class="info">Written by <a href='{% url 'profiles:profile_view' article.author.id %}'>{{ article.author.first_name }}{% if article.author.last_name %} {{ article.author.last_name }}{% endif %}</a></span>{% endif %}
                <span class="info">Published {{ article.pub_date|date:"F d, Y" }}</span>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="column inset">
              <p>{{ article.body|safe }}</p>
            </div>
          </div>
          <div class="row">
	        <div class="inset">
              {% include 'disqus.html' %}
            </div>
          </div>
        </div>
        <div class="three-cell column inset">
          {% for article in recent_articles %}
            <div class="row">
            {% include 'articles/article_preview.html' %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
