{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
  <div class="content">
    <h2><a href="{% url 'articles:all_articles' %}">All Articles</a> &gt; {{ category.title }}</h2>
    <div class="row">
    {% if articles_by_category %}
    {% for article in articles_by_category %}
      <div class="three-cell column">
        {% include 'articles/article_preview.html' %}
      </div>
      {% if forloop.counter|divisibleby:"4" and not forloop.last %}
      </div><div class="row">
      {% endif %}
    {% endfor %}
    {% else %}
      <p>No articles found for this category! <em>(But I'm sure some will be coming very soon, so keep your eyes peeled!)</em></p>
    {% endif %}
    </div>
  {% if is_paginated %}
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number}}">Prev</a></li>
    {% endif %}
    <li>{{ page_obj.number }}</li>
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number}}">Next</a></li>
    {% endif %}
    </ul>
  </div>
  {% endif %}
  </div>
{% endblock %}
