{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
  <h1>{{ category.title }}</h1>
  <p>{{ category.description }}</p>
  {% if other_categories %}
    <h2>Other Categories:</h2>
    <ul>
      {% for other_category in other_categories %}
        <li><a href='{% url 'articles:category' other_category.slug %}'>{{ other_category.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="article-preview">
    <div class="row">
    {% for article in articles_by_category %}
      <div class="three-cell column">
        {% include 'articles/article_preview.html' %}
      </div>
      {% if forloop.counter|divisibleby:"4" %}
      </div><div class="row">
      {% endif %}
    {% endfor %}
    </div>
  </div>


  {% if is_paginated %}
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number}}">Prev</a></li>
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number}}">Next</a></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}
