<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <title>{% block title %}Sugarbomb DIY{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta property="og:site_name" content="Sugarbomb DIY">
    <meta property="article:publisher" content="https://www.sugarbombdiy.com">
    <meta name="description" property="og:description" content="{% block page_description %}An independent publication established to support local arts, music, and DIY culture.{% endblock %}">
    {% block extra_meta_tags %}{% endblock %}

    <link href='{% static 'assets/styles/sbomb.css' %}' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/static/assets/favicon.png">
    {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <div class="header-stripe"></div>
    <div class="main">
      <div class="site-title container row"><img src="{% static 'assets/images/logo.png' %}" class="site-logo"></div>
      <div class="container row">
        <nav>
          <ul>
            <div>
              <li><a href="{% url 'index' %}">Home</a></li>
            </div>
            <div>
              <li><a href="{% url 'articles:all_articles' %}">Articles</a>
                <ul>
                  <li><a href="{% url 'articles:category' 'art' %}">Art</a></li>
                  <li><a href="{% url 'articles:category' 'music' %}">Music</a></li>
                </ul>
              </li>
            </div>
            <div>
              <li><a href="{% url 'contribute:index' %}">Contribute!</a></li>
            </div>
            <div>
              <li><a href="{% url 'about_us' %}">About Us</a></li>
            </div>
            <div>
              <li><a href="{% url 'contact:contact_us' %}">Contact Us</a></li>
            </div>
          </ul>
        </nav>
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="footer container row">
      <div class="six-cell column">
        <div><a href="{% url 'about_us' %}">About Us</a></div>
        <div><a href="{% url 'contact:contact_us' %}">Contact Us</a></div>
        <div><a href="{% url 'contribute:login' %}">Contributor Login</a></div>
      </div>
      <div class="six-cell column social-media">
      <a href="https://www.facebook.com/sugarbombdiy"><img src="{% static 'assets/images/social-facebook.png' %}" style="width:60px"></a>
      <a href="https://twitter.com/sugarbombdiy"><img src="{% static 'assets/images/social-twitter.png' %}" style="width:60px"></a>
      <a href="https://instagram.com/sugarbombdiy/"><img src="{% static 'assets/images/social-instagram.png' %}" style="width:60px"></a>
      <a href="https://www.youtube.com/channel/UCAfolxlyzNMO1DKlZTXR5FA"><img src="{% static 'assets/images/social-youtube.png' %}" style="width:60px"></a>
      </div>
    </div>
    <script src="{% static 'assets/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'assets/scripts/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/scripts/jquery.bxslider.js' %}"></script>
{% block extra_scripts %}{% endblock %}
    <script>
      $(function(){
          $('nav > ul').slicknav(
          {
            allowParentLinks: true,
            label: ""
          }
          );
      });
      (function(){
        var iframes = window.top.document.querySelectorAll('.article-body .force-responsive, .article-body iframe[src^="//www.youtube.com"]');
        if(iframes.length){
        var articleBody = window.top.document.querySelectorAll('.article-body > .column')[0];
          for(var i=0; i < iframes.length; i++){
            var divWrapper = document.createElement('div'),
              placeHolder = document.createElement('img'),
              iframe = iframes[i],
              iframeParent = iframe.parentNode,
              heightRatio = iframe.height / iframe.width;
            divWrapper.style.position = 'relative';
            divWrapper.style.maxWidth = iframe.width + 'px';
            divWrapper.dataset.maxWidth = iframe.width;
            divWrapper.style.maxHeight = iframe.height + 'px';
            divWrapper.dataset.maxHeight = iframe.height;
            divWrapper.dataset.heightRatio = heightRatio;
            var divWidth = Math.min(iframe.width, articleBody.offsetWidth);
            divWrapper.style.width = '100%';
            divWrapper.style.height = Math.floor(divWidth * heightRatio) + 'px';
            divWrapper.style.marginLeft = 'auto';
            divWrapper.style.marginRight = 'auto';
            iframe.removeAttribute('height');
            iframe.removeAttribute('width');
            iframe.style.position = 'absolute';
            iframe.style.top = '0';
            iframe.style.left = '0';
            iframe.style.width = '100%';
            iframe.style.height = '100%';
            iframeParent.appendChild(divWrapper);
            divWrapper.appendChild(iframe);
          }
          window.onresize = function(){
            var bodyWidth = articleBody.width - articleBody.style.paddingLeft - articleBody.style.paddingRight;
            for(var i=0;i<iframes.length;i++){
              var divNode = iframes[i].parentNode,
                  divParent = divNode.parentNode;
              var divWidth = Math.min(bodyWidth, divNode.dataset.maxWidth);
              divNode.style.width = divWidth + 'px';
              divNode.style.height = Math.floor(divNode.dataset.heightRatio * divWidth) + 'px';
            }
          }
        }

      })();

    </script>
  </body>
</html>
