{% extends 'base.html' %}

{% block content %}
<div class="content">
  <h1>Supporting Arts and Community</h1>
    <p>Sugarbomb DIY is an independent publication established to support local arts, music, and DIY culture.</p>
    <p>We believe in supporting local artists and want to change the way people discover and enjoy their art and culture. Our primary goals are to bring people together and to strengthen and support arts in the community by providing a channel for unique and talented artists to connect with their audience online.</p>
    <p>We are also big believers in the DIY ethos as a method for empowering communities and using art and music to drive social change. DIY is founded on the principles of independence and self-sufficiency, and both of these are essential requirements for the self-expression that drives us as artists and as human beings.</p>
  <h1>Meet the Team</h1>
  <p>Check out our profile pages below to find out more about the Sugarbomb DIY team!</p>
  <ul>
    <li><a href="{% url 'profiles:profile_view' 3 %}">Luke</a></li>
    <li><a href="{% url 'profiles:profile_view' 2 %}">Mayra</a></li>
    <li><a href="{% url 'profiles:profile_view' 1 %}">Shawn</a></li>
  </ul>
</div>
{% endblock %}
