$header-stripe-height: 150px;
$header-stripe-gutter: 86px;

// General Styles

a {
  text-decoration: none;
  color: #fe2d72;
}
a:hover{
  color: $dark-grey;
}

.main {
  background: $beige $beige-bg-img;
  padding-bottom: 2%;
}
.footer {
  color: $beige;
  padding: 0.8rem;
  a {
    color: $beige;
  }
  a:hover {
    color: darken($beige, 15%);
  }
}

.site-title {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.site-logo {
  max-height: 2rem;
}

@media (min-width: $tablet-width){
    .site-logo {
      max-height: 2.5rem;
    }
}

// Articles

.article-preview{
  margin-top: $base-padding;
  max-width: 400px;
  position: relative;
  @media (min-width: $tablet-width){
    margin-top: 0;
  }
  img {
    width: 100%;
    display: block;
  }
  &:hover {
    @include light-box-shadow();
  }
}
.inset-content{
  margin-top: $base-padding*1.2;
}

.inset-body {
  padding: 0;
}

.inset {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

@media (min-width: $tablet-width){
  .inset {
    padding-left: 0;
    padding-right: 0;
  }
}

.article-header{
  position: relative;
  img {
    @include light-box-shadow();
    width: 100%;
    display: block;
  }
}

// Pager

.pager {
  padding: $base-padding/2 $base-padding;
  margin-top: $base-padding;
  font-weight: bold;
  list-style-type: none; 
  color: transparentize($beige, 0.8);
  @include light-box-shadow();
  li {
    display: inline;
  }
  li + li {
    padding-left: $base-padding*2;
  }
  background: $body-background;
  a {
    color: $beige;
  }
  a:hover {
    color: darken($beige, 15%);
  }
}

// Navigation spacing

.content {
  padding: 0.001rem 0.8rem 0.8rem;
}


@media (min-width: $tablet-width){
  .content {
    padding: 0;
    margin-top: $base-padding*1.25;
  }
  .header-stripe {
    background: $body-background;
    position: absolute;
    width: 100%;
    height: $header-stripe-height;
  }
  .site-title {
    position: relative;
    display: block;
    padding: 0;
    padding-top: $header-stripe-height - $header-stripe-gutter;
    h1 {
      @include light-text-shadow();
      font-size: 2.2rem;
      color: $beige;
      letter-spacing: -0.1rem;
      margin: 0;
    }
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: $base-padding * 5;
  }

}

// Caption

.caption {
  a {
    color: $beige;
  }
  a:hover {
    color: #fe2d72;
  }
  color: $beige;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(10,10,10, 0.8);
  padding: 0.5rem 1rem;

  .title{
    font-family: $base-header-font;
    display: block;
    @media (min-width: $tablet-width) {
      font-size: $base-font-size*1.1;
    }
    @media (min-width: $desktop-width) {
      font-size: $base-font-size*1.2;
    }
    &.header {
      margin-bottom: $base-font-size*0.25;
      @media (min-width: $tablet-width) {
        font-size: $base-font-size*1.4;
      }
      @media (min-width: $desktop-width) {
        font-size: $base-font-size*1.8;
      }
    }
  }
  .info {
    text-transform: uppercase;
    display: block;
    font-size: $base-font-size*0.9;
    @media (min-width: $tablet-width) {
      font-size: $base-font-size*0.8;
    }
    @media (min-width: $desktop-width) {
      font-size: $base-font-size*0.8;
      }
    &.header {
      @media (min-width: $tablet-width) {
        font-size: $base-font-size;
      }
      @media (min-width: $desktop-width) {
        font-size: $base-font-size;
      }
    }
  }
}

// Social Media Styles
.social-media {
  text-align: right;
}

// Profile Styling
.profile-image {
  @include light-box-shadow();
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  @media (min-width: $tablet-width){
    float: right;
    margin-left: 1.5rem;
  }
  max-width: 100%;
  @include border-radius(50%);
}

// Alert Styles

.alert {
  font-weight: bold;
  padding: $base-padding/2 $base-padding;
  display: inline-block;
  @include light-box-shadow();
  &.success {
    background-color: #090;
  }
  &.info {
    background-color: #06f;
  }
  &.warning {
    background-color: #fc0;
  }
  &.error {
    background-color: #fc0;
  }
}
.errorlist {
  font-size: $base-font-size * 0.95;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    color: #1EA2FF;
  }
}

// General Form Styles
input, textarea, button {
  @include light-box-inset-shadow();
  color: $dark-grey;
  padding: $base-padding*0.1 $base-padding*0.25;
  font-size: $base-font-size * 0.95;
  background: $beige;
  font: $base-font;
  border: $dark-grey solid 2px;
}
input:hover, button:hover, textarea:hover, input:focus, textarea:focus {
  background: #FDFDFD;
}
button{
  font-size: $base-font-size*1.1;
  font-weight: bold;
  padding: $base-padding*0.25 $base-padding*0.5;
  @include border-radius(5px);
}

// Form Table Styles
form table {
  width: 100%;
  background: $body-background;
  padding: $base-padding/2 $base-padding/2;
  @include light-box-shadow();
  @include light-text-shadow();
  h2 {
    color: $beige;
    margin: 0;
    text-align: right;
  }
  td {
  }
  th, td {
    padding: $base-padding/2 $base-padding/2;
  }
  th {
    vertical-align: top;
    text-align: right;
  }
  label {
    color: $beige;
  }
  textarea {
    width: 75%
  }
}

.profile-photo {
  @include clearfix();
}
